.div{
  margin-top: -250px;
  border-radius: 50px;
  height: 100px;
  width: 100px;
}

.div1{
  margin-top: 400px;
}
.h2{
  margin-top: 45px;
  margin-bottom: 300px;
  margin-left: 450px;
  margin-right: 70px; 
  width: 190px;
  height: 40px;
}